<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
   <textfield id="execTextField">/usr/bin/avrdude</textfield>
   <textfield id="configTextField">/home/tglozar/arduino-1.6.9/hardware/tools/avr/etc/avrdude.conf</textfield>
   <textfield id="baudrateTextField">9600</textfield>
   <choicebox id="microcontrollerChoiceBox">ATmega8</choicebox>
   <choicebox id="programmersChoiceBox">usbasp</choicebox>
   <choicebox id="readFormatChoiceBox">Intel HEX</choicebox>
   <choicebox id="readFormatChoiceBoxEEPROM">Intel HEX</choicebox>
</config>
